menuconfig ARCH_QCOM
	bool "Qualcomm Support"
	depends on ARCH_MULTI_V7
	select ARCH_SUPPORTS_BIG_ENDIAN
	select ARM_GIC
	select ARM_AMBA
	select PINCTRL
	select QCOM_SCM if SMP
	help
	  Support for Qualcomm's devicetree based systems.

if ARCH_QCOM

config ARCH_QCOM_A_FAMILY
	bool "Support a-family chipsets (msm8660, msm8960, apq8064)"
	default y
	select CLKSRC_QCOM
	help
	  Select this option if you want to support a-family platforms.

	  A-family includes all Snapdragon S1/S2/S3/S4 chips before 2013,
	  up to the MSM8x60 and APQ8064 SoCs.

	  B-family includes all Snapdragon 2xx/4xx/6xx/8xx models starting
	  in 2013 with the MSM8x74 SoC.

endif
